<html>
    <head>
        <title>Hospital</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.registro') }}">Registro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('pac.lista') }}">Listar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('pac.adicionar') }}">Adicionar</a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <p class="nav-link">Olá, {{current_user.nome}}. O seu papel atual é {{current_user.papel.nome}} <a href="{{ url_for('auth.logout') }}">Sair</a></p>
                        </li>
                        {% endif %}
                    </ul>
                </div>
              </nav>
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>