{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Aula de Flask - Email </h1>
        <h2>Professor Victor Schneider Gabel </h2>
        <h3>Formação Turma 2</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-2">Non deserunt aliquip exercitation cillum excepteur occaecat do laboris. Magna quis sunt in anim nostrud duis. Pariatur ipsum Lorem incididunt velit pariatur laborum laboris aliquip nisi Lorem deserunt. Labore dolore ad culpa ullamco commodo fugiat eiusmod nulla ut nulla. Consequat id magna in commodo ad ex cillum consectetur velit aliqua voluptate ex commodo.</div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                Ea sit voluptate pariatur excepteur tempor veniam culpa do labore ex. Minim reprehenderit aliqua excepteur cupidatat culpa. Ad qui sint occaecat veniam pariatur tempor ea aliquip commodo reprehenderit. Et mollit elit irure irure sint excepteur. Anim velit ullamco voluptate magna enim Lorem excepteur ipsum duis mollit. Est labore adipisicing aliqua consectetur qui excepteur labore aliquip elit sint irure aute commodo sunt.
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">Minim velit fugiat nisi tempor amet voluptate. Cupidatat cupidatat veniam consectetur et. Eiusmod veniam duis est sit exercitation id deserunt duis esse ut culpa eu quis.</div>
            <div class="col-md-6">Pariatur cupidatat sint mollit elit sunt exercitation veniam aliquip non nostrud officia. Ea ipsum eiusmod ex minim ullamco ad sunt laboris nisi veniam minim. Anim sit pariatur non labore. Nisi elit dolor dolor fugiat excepteur duis.</div>
        </div>
    </div>
    <div class="col-md-2">Proident adipisicing aliquip consectetur duis veniam ea quis pariatur ipsum reprehenderit excepteur. Magna tempor nulla magna elit proident. Laborum veniam laboris aute amet. Eu culpa laboris nisi eiusmod ut aute aliqua magna in. Sit ullamco dolore adipisicing aliquip. Occaecat dolor officia dolor id laboris dolor sit ex amet proident ex duis. Exercitation duis ipsum eu ut voluptate eu minim irure tempor fugiat.</div>
</div>
{% endblock %}