{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-6">
            {{ form.nome.label }}
            {{ form.nome(class_="form-control") }}
        </div>
        <div class="col-md-6">
            {{ form.cpf.label }}
            {{ form.cpf(class_="form-control")}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </div>
</form>

{% endblock %}