{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-6">
                {{ form.fabricante.label }}
                {{ form.fabricante(class_="form-control") }}
            </div> 
            <div class="col-md-6">
                {{ form.modelo.label }}
                {{ form.modelo(class_="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.placa.label }}
                {{ form.placa(class_="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.motorista.label }}
                {{ form.motorista(class_="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </div>

    </form>

{% endblock %}